<scroll-tracker scroll-position="scrollPosition" wrapper-class="'article'">
    
    <div>
        <div>
            <div class="user-rating" ng-click="openRating(article.Id)"><i class="fa fa-user"></i></div>
            <div class="article-title">
                <h1>{{article.Title}}</h1>
            </div>
        </div>

        <div class="profile">
            <span> {{article.Author.Name}} </span>
            <span>{{article.Date | date:'MM/dd/yyyy  HH:mm'}} </span>
        </div>

        <div class="brief">
            <b>{{article.Brief}}</b>
        </div>
        
        <div class="row talkbacks-ruler">
            <div class="col"><a ng-href="#/Talkbacks/{{article.Id}}"></a><i class="fa fa-plus-square"></i></div>
        <div class="col" ng-click="openFontRuler()">Aa</div>
        <div class="col"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#url"><i class="fa fa-facebook-square"></i></a></div>
        <div class="col"><a target="_blank" href="https://twitter.com/share"><i class="fa fa-twitter-square"></i></a></div>
        <div class="col"><a target="_blank" href="mailto:shirdidi88@gmail.com"><i class="fa fa-envelope-o"></i></a></div>
    </div>

        <div class="content" ng-style="{'font-size': fontSize + 'pt'}">
            <article-image ng-if="article.Images.length" image="article.Images[0]"></article-image>
            <p ng-bind-html="article.Content"></p>
            <article-image ng-if="article.Images.length>1" ng-repeat="image in article.Images" image="image"></article-image>
        </div>

        <div>
            <a ng-href="#/Talkbacks/{{article.Id}}">{{"Talkbacks"|l10n}} </a>
        </div>
    </div>
</scroll-tracker>
