<div class="article">
    
    <div class="row">
        
        <div class="col-xs-3 user-rating" ng-click="openRating(article.Id)"><i class="fa fa-user"></i></div>

        <div class="col-xs-8 article-header">

            <div class="article-title">
                <h3>{{article.Title}}</h3>
            </div>

        </div>
    </div>
    <div class="profile">
        <span ng-repeat="author in articleProfile.Authors">{{author}} </span>
        <span>{{articleProfile.Date | date:'MM/dd/yyyy  h:mm'}} </span>
    </div>

    <div class="brief">
        <b>{{article.brief}}</b>
    </div>

    <div class="content">
        <img ng-src="{{article.ImageUrl}}" alt="{{article.Title}}" />
        <p>{{article.Content}}</p>
    </div>
    
    <div class="talkbacks">
        <a ng-href="#/Talkbacks/{{article.Id}}">תגובות</a>
    </div>
</div>
