<div class="new-talkback">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">{{"Name"|l10n}}</span>
            <input type="text" ng-model="talkback.Name" required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{"Title"|l10n}}</span>
            <input type="text" ng-model="talkback.Title" required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{"Content"|l10n}}</span>
            <input type="text" ng-model="talkback.Content">
        </label>
    </div>

</div>


