<div class="row talkback-ruler">
    <div class="col"></div>
    <div class="col" ng-click="newTalkback()"><i class="fa fa-plus-square"></i></div>
    <div class="col">Aa</div>
    <div class="col"><i class="fa fa-facebook-square"></i></div>
    <div class="col"><i class="fa fa-twitter-square"></i></div>
    <div class="col"><i class="fa fa-envelope-o"></i></div>
</div>

<h2>תגובות</h2>
<div class="talkbacks">
    <div class="talkback" ng-repeat="talkback in talkbacks">

        <span class="talkback-number">{{talkback.Number}} </span>
        <span class="talkback-title">{{talkback.Title}} <span ng-show="talkback.Text === ''">(ל"ת)</span></span>

        <div class="talkback-text">{{talkback.Text}}</div>

        <span class="talkback-name">{{talkback.Name}}, </span>
        <span class="talkback-date">{{talkback.Date | date: 'dd/mm/yyyy hh:mm'}}</span>

    </div>
</div>
