<div class="talkbacks-header">
    <div class="row talkbacks-ruler">
        <div class="col" ng-click="newTalkback()"><i class="fa fa-plus-square"></i></div>
        <div class="col">Aa</div>
        <div class="col"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#url"><i class="fa fa-facebook-square"></i></a></div>
        <div class="col"><a target="_blank" href="https://twitter.com/share"><i class="fa fa-twitter-square"></i></a></div>
        <div class="col"><a target="_blank" href="mailto:shirdidi88@gmail.com"><i class="fa fa-envelope-o"></i></a></div>
    </div>

    <div class="title"><h1></h1></div>

    <div class="back-to-article"><a href="#/Article/{{articleId}}">{{"BackToArticle"|l10n}}</a></div>

</div>

<div class="talkbacks">
    <div class="talkback" ng-repeat="talkback in talkbacks">

        <span class="talkback-number">{{talkback.Number}} </span>
        <span class="talkback-title">{{talkback.Title}} <span ng-show="talkback.Text === ''">(ל"ת)</span></span>

        <div class="talkback-text">{{talkback.Text}}</div>

        <span class="talkback-name">{{talkback.Name}}, </span>
        <span class="talkback-date">{{talkback.Date | date: 'dd/mm/yyyy hh:mm'}}</span>

    </div>
</div>

