body
{
    direction: rtl;
    text-align: right;
}

div.shortcuts
{
    border-top: 1px solid #ccc;
    background-color: #eee;
    width: auto;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    color: white;
}

    div.shortcuts a
    {
        color: white;
    }

.shortcuts-categories li
{
    display: inline-block;
}

.shortcuts-categories li
{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 40px;
    width: 23%;
    text-align: center;
    vertical-align: text-top;
    height: 46px;
}

    .shortcuts-categories li:first-child
    {
        font-size: 90px;
        width: 25%;
        height: 94px;
        float: right;
        margin-left: 4px;
        margin-right: 3px;
        margin-top: 2px;
    }

.opinions
{
    background-color: tomato;
}

.home-category
{
    background-color: rgb(94, 197, 255);
}

.high-tech
{
    background-color: coral;
    padding-top: 4px;
}

.economy
{
    background-color: cornflowerblue;
    padding-top: 2px;
}

.communication
{
    background-color: sandybrown;
}

.world-news
{
    background-color: mediumaquamarine;
}

.celebs
{
    background-color: goldenrod;
    padding-top: 2px;
}

a
{
    color: rgb(7, 75, 219);
}

div, i, img
{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.container-fluid
{
    position: absolute;
    top: 3.5em;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0.25em;
    left: 0.25em;
    bottom: 0;
}

.home-page
{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

img
{
    border: 1px solid #ccc;
}

/*.main-article img
{
    max-width: 300px;
    max-height: 100px;
}*/

.main-article .article-image img
{
    max-height: 200px;
}

.article
{
    position: absolute;
    top: 0px;
    bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.scrollable
{
    overflow: auto;
    overflow-x: hidden;
}

.article img
{
    max-width: 100%;
    max-height: 320px;
}

.article-title h1, .profile-page h2
{
    font-size: 18pt;
}

.user-rating
{
    float: right;
    text-align: center;
    width: 50px;
}

    .user-rating .fa-user
    {
        font-size: 40pt;
    }

.article-link
{
    font-size: 9pt;
}

.article-link
{
    text-align: left;
    margin-left: 17px;
}

.navigation-points
{
    position: absolute;
    left: 65px;
    top: 22px;
}

.point
{
    background-color: #ddd;
}

.selectedPoint
{
    background-color: #d70010;
    margin-bottom: 0;
}

.point, .selectedPoint
{
    height: 12px;
    width: 12px;
    border-radius: 20px;
    margin-right: 5px;
    display: inline-block;
}

p
{
    text-align: justify;
}

.main-article
{
    border-bottom: 1px solid #ccc;
}

    .main-article .article-title h1, .talkbacks h1, .talkbacks-header h1, .rating-page h1
    {
        font-weight: bold;
        font-size: 13pt;
        margin-bottom: 0;
    }

    .main-article .article-title, .main-article .brief, .main-titles .title, .talkback
    {
        padding-right: 5px;
        padding-left: 5px;
    }

.main-article-image
{
    text-align: center;
    width: 100%;
}

.main-article .brief
{
    font-size: 12pt;
}

.new-talkback
{
    padding: 10px;
}


.talkbacks-header .title
{
    margin-top: 15px;
}

.talkbacks
{
    border-top: 1px solid #ccc;
    overflow: auto;
    overflow-x: hidden;
}

    .talkbacks .talkback
    {
        border-bottom: 1px solid #ccc;
    }

.main-titles .title
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-titles
{
    position: absolute;
    top: 292px;
    right: 0;
    left: 0;
    bottom: 100px;
    overflow: auto;
    overflow-x: hidden;
}

    .main-titles .title
    {
        border-top: 1px solid #ccc;
        line-height: 32px;
    }

.newsflash-item, .weather-item
{
    border-bottom: 1px solid #ccc;
}

.weather-item
{
    font-size: 16pt;
}

.row.weather-item
{
    margin-top: 5px;
}

.weather-item .col-20
{
    margin-right: -20px;
}

.newsflash
{
    font-size: 11pt;
}

    .newsflash .row
    {
        padding: 0;
    }

    .newsflash .newsflash-date
    {
        font-weight: bold;
        font-size: 9pt;
    }

.login-page
{
    text-align: center;
}

    .login-page h2
    {
        margin-top: 20px;
    }

    .login-page button
    {
        width: 80%;
        height: 50px;
        font-size: 15pt;
        margin-top: 40px;
    }

.profile-page
{
    position: relative;
}

    .profile-page .row
    {
        font-size: 15pt;
    }

    .profile-page h2
    {
        text-align: center;
    }

/*.profile-page .font-size {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    margin-bottom: 0;
}*/

.font-ruler
{
    border-bottom: none;
    background: transparent;
    text-align: center;
}

    .font-ruler .small-font
    {
        font-size: 12pt;
    }

    .font-ruler .large-font
    {
        font-size: 25pt;
        margin-top: -13px;
    }

.article-date
{
    font-size: 10pt;
}

.rating-page
{
    text-align: center;
}

    .rating-page .row
    {
        font-size: 15pt;
        margin-top: 25px;
        margin-bottom: -50px;
    }

.chart-area
{
    margin-top: 100px;
    min-height: 240px;
    direction: ltr;
}

.talkback-number
{
    color: darkred;
}

.talkback-number, .talkback-title
{
    font-size: 11pt;
    font-weight: bold;
}

    .talkback-title.no-text
    {
        color: #666;
    }

    .talkback-title span
    {
        font-size: 10pt;
        font-weight: normal;
    }

.talkback-text
{
    font-size: 11pt;
}

.talkback-name, .talkback-date
{
    font-size: 10pt;
    color: #aaa;
}

.talkbacks-ruler
{
    font-size: 21pt;
    position: relative;
    color: #666;
}

    .talkbacks-ruler a
    {
        color: #666;
    }


.rtl .form-buttons
{
    text-align: left !important;
}

.about-page
{
    font-size: 12pt;
    text-align: center;
}

    .about-page img
    {
        border: none;
        width: 80%;
    }

.version
{
    margin-top: 40px;
}

    .version span
    {
        padding-left: 20px;
        padding-right: 20px;
    }

.last-update
{
    margin-top: 10px;
}

.profile-page .list-right-editing .item-right-editable .item-content,
.profile-page .item-right-editing.item-right-editable .item-content
{
    margin-left: 50px;
    margin-right: 0;
}

.profile-page .item-right-edit.item-reorder
{
    right: auto;
    left: 10px;
}

.scroll-content
{
    margin-top: 1px;
}

.item.menu-item
{
    background-color: transparent;
    opacity: 0.9;
}

.popup
{
    width: 80%;
}

.nemu .popup-buttons
{
    margin: 0;
}

.menu-page .list .item, .new-talkback
{
    direction: rtl;
}

.list:last-child
{
    margin-bottom: -20px;
}

.list
{
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.popup-head
{
    border-bottom: none;
    display: none;
}

.popup-body
{
    padding: 0;
}

.popup-title
{
    font-weight: bold;
}

.popup-buttons .button:first-child
{
    margin-left: 15px;
}

.notification
{
    z-index: 1010;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 45px;
    background-color: rgb(9, 9, 9);
    opacity: 0.9;
}

    .notification img
    {
        width: 70px;
        height: 30px;
        margin-top: 8px;
        margin-right: -34px;
        border: none;
    }

.notification-logo
{
    width: 40px;
    position: absolute;
}

.notification-text
{
    margin-top: 11px;
    margin-right: 50px;
}

.notification-button
{
    width: 55px;
    border: 1px solid grey;
    background: red;
}

p.article-brief
{
    white-space: normal;
}

.article-image
{
    position: relative;
}

.article-image-credit
{
    position: absolute;
    bottom: 0;
    left: 4px;
    text-align: left;
    font-size: 10px;
    max-width: 25%;
    color: white;
}

.article-image-title,
.article-image-title-back
{
    opacity: 0.75;
    background-color: #444444;
    padding-right: 4px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    color: white;
}

.article-image-title-text {
    text-align: right;
}

.article-image-credit,
.main-article .brief
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.article-image-title-text
{
    display: block;
    float: right;
    max-width: 260px;
    margin-top: 2px;
}

@media(max-width: 600px)
{
    .main-article .brief;

{
    font-size: 13px;
    line-height: 1.2;
    max-height: 48px;
}

.main-article .article-image img
{
    max-height: 160px;
}

.main-titles
{
    top: 245px;
}

}

.newsflash-item, .newsflash-ticker
{
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newsflash-ticker
{
    background-color: #eee;
}

.category-icon
{
    font-size: 20pt;
}

.main-titles .title:first-child
{
    border-top: none;
}

.font-size {
    margin-bottom: 0;
}

.categories-list .item {
    padding-right: 10px;
} 