<div class="entry-page">
    <h2>כניסה למערכת</h2>


    <div>
        <button class="row btn btn-default">
            <span class="col-xs-2"><i class="fa fa-facebook-square"></i></span>
            <span class="col-xs-10">היכנס עם  facebook </span>
        </button>
    </div>
    <div>
        <button class="row btn btn-default">
            <span class="col-xs-2"><i class="fa fa-twitter-square"></i></span>
            <span class="col-xs-10">היכנס עם  twitter </span>
        </button>
    </div>
    <div>
        <button class="row btn btn-default">
            <span class="col-xs-2"><i class="fa fa-linkedin-square"></i></span>
            <span class="col-xs-10">היכנס עם  linkedin </span>
        </button>
    </div>
    <div>
        <button class="row btn btn-default">
            <span class="col-xs-2"><i class="fa fa-google-plus-square"></i></span>
            <span class="col-xs-10">היכנס עם  google </span>
        </button>
    </div>
    
</div>
