<div class="entry-page">
    <h2>כניסה למערכת</h2>


    <div>
        <button class="btn btn-default" ng-click="openProfile()">
            <span><i class="fa fa-facebook-square"></i> היכנס עם  facebook </span>
        </button>
    </div>
    <div>
        <button class="btn btn-default" ng-click="openProfile()">
            <span><i class="fa fa-twitter-square"></i> היכנס עם  twitter </span>
        </button>
    </div>
    <div>
        <button class="btn btn-default" ng-click="openProfile()">
            <span ><i class="fa fa-linkedin-square"></i> היכנס עם  linkedin </span>
        </button>
    </div>
    <div>
        <button class="btn btn-default" ng-click="openProfile()">
            <span><i class="fa fa-google-plus-square"></i> היכנס עם  google </span>
        </button>
    </div>
    
</div>
