<ion-content>
    <div class="profile-page">
        
        <div class="list font-size">
            
            <div class="item item-divider">
                {{"FontSize"|l10n}}
            </div>

            <div class="item font-ruler">
                <div class="range">
                    <div class="small-font">א</div>
                    <input type="range" name="volume" min="10" max="20" ng-model="data.fontSize">
                    <div class="large-font">א</div>
                </div>
                <button class="button button-light" ng-click="saveFontSize()">
                    {{"Save"|l10n}}
                </button>
            </div>
        </div>

        <div class="category-list">
            <div class="item item-divider">
                {{"CategoriesRating"|l10n}}
            </div>

            <ion-list show-delete="data.showDelete" show-reorder="true" >

                <ion-item class="item item-icon-right" ng-repeat="category in categories" item="category">
                   
                    <span class="profile-category-item {{category.backgroundCssClass}}"><i class="{{category.iconCssClass}}"></i></span>
                    <ion-reorder-button class="ion-navicon" on-reorder="moveItem(category, $fromIndex, $toIndex)"></ion-reorder-button>
                    {{ category.title }}
                </ion-item>

            </ion-list>
        </div>
    
    </div>
</ion-content>


