<ion-content>
    <div class="profile-page">
          <h2>פרופיל</h2>

          <div class="list">
              <div class="item item-divider">
                  גודל גופן
              </div>
              <div class="item">
          <div class="range font-ruler">
              <div class="small-font">א</div>
              <input type="range" name="volume">
              <div class="large-font">א</div>
          </div>
                  </div>
          </div>

          <div class="item item-divider">
                דירוג קטגוריות
          </div>

          <ion-list show-delete="data.showDelete" show-reorder="true" >

              <ion-item class="item item-icon-right" ng-repeat="category in categories" item="category">
                   
                  <i class="{{category.Icon}}"></i>
                  <ion-reorder-button class="ion-navicon" on-reoder="moveItem(category, fromIndex, toIndex)"></ion-reorder-button>
                  {{ category.Name }}
              </ion-item>

          </ion-list>

    
    </div>
</ion-content>
