<div class="home-page">
    <div class="loading" ng-show="loading"></div>

    <div class="newsflash-ticker" ng-click="openNewsflash()">
        <span class="time"><b>{{newsflash[newsIndex].Date| date: 'HH:mm'}} </b></span>
        <span class="title">{{newsflash[newsIndex].Title}}</span>
    </div>
    
    <div class="main-article"
        ng-swipe-left="back()" ng-swipe-right="next()"
        ng-repeat="article in mainArticles"
        ng-click="openArticle(article)"
        ng-show="isSelected(article)">
        <div class="main-article-image">
            <div>
                <article-image ng-if="article.Images.length" image="article.Images[0]"></article-image>
            </div>

            <div class="navigation-points">
                <div class="point" ng-repeat="point in points" ng-class="{'selectedPoint': isPointSelected(point)}" ng-click="selectArticle(point)"></div>
            </div>
        </div>

        <div class="article-title">
            <h1>{{article.Title}}</h1>
        </div>

        <div class="brief">
            {{article.Brief}}
        </div>

        <div class="article-link"><a>לקריאה נוספת</a></div>
    </div>

    <!--<div class="notification-button" ng-click="notify()">
        התראה!
    </div-->

    <div class="main-titles">
        <div class="title" ng-repeat="title in recentTitles" ng-click="openArticle(title)">{{title.Title}}</div>
    </div>
</div>

<div class="shortcuts">
    <shortcuts categories ="categories"></shortcuts>
</div>
