<div class="home-page">
    <div class="loading" ng-show="loading"></div>

    <div class="main-article"
        ng-swipe-left="back()" ng-swipe-right="next()"
        ng-repeat="article in mainArticles"
        ng-click="openArticle(article)"
        ng-show="isSelected(article)">
        <img ng-src="{{article.ImageUrl}}" alt="{{article.title}}" />

        <div class="navigation-points">
            <div class="point" ng-repeat="point in points" ng-class="{'selectedPoint': isPointSelected(point)}" ng-click="selectArticle(point)"></div>
        </div>

        <div class="article-title">
            <h3>{{article.title}}</h3>
        </div>

        <div class="brief">
            <h4>{{article.brief}}</h4>
        </div>
    </div>

    <!--<div class="main-titles">
        <div c
    </div>-->
</div>

    <div class="shortcuts">
        <shortcuts></shortcuts>
    </div>
