<div class="home-page">
    <div class="loading" ng-show="loading"></div>

    <div class="main-article"
        ng-swipe-left="back()" ng-swipe-right="next()"
        ng-repeat="article in mainArticles"
        ng-click="openArticle(article)"
        ng-show="isSelected(article)">
        <div>
            <img ng-src="{{article.ImageUrl}}" alt="{{article.Title}}" />

            <div class="navigation-points">
                <div class="point" ng-repeat="point in points" ng-class="{'selectedPoint': isPointSelected(point)}" ng-click="selectArticle(point)"></div>
            </div>
        </div>

        <div class="article-title">
            <h1>{{article.Title}}</h1>
        </div>

        <div class="brief">
            {{article.Brief}}
        </div>

        <div class="article-link"><a>לקריאה נוספת</a></div>
    </div>

    <div class="main-titles">
        <h1 class="title" ng-repeat="title in recentTitles" ng-click="openArticle(title)">{{title.Title}}</h1>
    </div>
</div>

<div class="shortcuts">
    <shortcuts></shortcuts>
</div>
