<header>
    <div class="notification" ng-show="hasNotification">
        <div class="notification-logo"><img ng-src="app/common/img/logo.png"></div>
        <div class="notification-text">נשיא מדינת ישראל: ראובן (רובי) ריבלין</div>
    </div>

    <div class="logo"></div>

    <div class="back-button" ng-click="goBack()"><i class="fa fa-arrow-right"></i></div>
    <div class="home-button"><a ng-href="#"><i class="fa fa-home"></i></a></div>
    
    
    
    <div class="info" ng-click="openWeather()">
        <div>{{today|date:"dd/MM/yyyy"}}</div>
        <span class="city">{{city}}</span>
        <span><i class="fa fa-cloud"></i></span>
    </div>

    <div class="weather" ng-click="openWeather()">20°</div>
    
    <div class="mark" ng-click="openMenu()"><i class="fa fa-exclamation"></i></div>

    <div class="header-button header-back fa fa-3x fa-arrow-right" ng-show="commands.back" simple-back></div>
    <div class="title" ng-class="{'short': !commands.back }">{{header}}</div>
    <div class="header-buttons">
        <div class="header-button fa fa-3x fa-sign-out" ng-show="commands.logout" ng-click="logout()"></div>
        <div class="header-button fa fa-3x fa-home" ng-show="commands.home" simple-home></div>
        <div class="header-button fa fa-3x fa-refresh" ng-class="{ 'fa-spin': isInProgress }" ng-click="refresh()" ng-show="isOnline && (isInProgress || (commands.refresh))"></div>
        <div class="header-button fa fa-3x fa-warning" ng-show="!isOnline"></div>
    </div>
</header>