<header>
    <div class="logo"></div>
    
    <!--<div class="mark" ng-click="openEntryPage()"><i class="fa fa-exclamation"></i></div>-->
    <!--<div class="mark" ng-click="openAboutPage()"><i class="fa fa-exclamation"></i></div>-->
    <div class="mark" ng-click="openMenu()"><i class="fa fa-exclamation"></i></div>
    <div class="message" ng-click="openNewsflash()"><i class="fa fa-envelope-o"></i></div>
    
    <div class="info" ng-click="openWeather()">
        <div>25/5/2014</div>
        <span class="city">תל אביב</span>
        <span><i class="fa fa-cloud"></i></span>
    </div>

    <div class="weather" ng-click="openWeather()">20°</div>
    <div class="home-button"><a ng-href="#"><i class="fa fa-home"></i></div>


    <div class="header-button header-back fa fa-3x fa-arrow-right" ng-show="commands.back" simple-back></div>
    <div class="title" ng-class="{'short': !commands.back }">{{header}}</div>
    <div class="header-buttons">
        <div class="header-button fa fa-3x fa-sign-out" ng-show="commands.logout" ng-click="logout()"></div>
        <div class="header-button fa fa-3x fa-home" ng-show="commands.home" simple-home></div>
        <div class="header-button fa fa-3x fa-refresh" ng-class="{ 'fa-spin': isInProgress }" ng-click="refresh()" ng-show="isOnline && (isInProgress || (commands.refresh))"></div>
        <div class="header-button fa fa-3x fa-warning" ng-show="!isOnline"></div>
    </div>
</header>