header
{
    direction: rtl;
    background-color: #d70010;
    width: auto;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    min-height: 4em;
    color: white;
}

    header a, header a:hover
    {
        color: white;
    }

    header .title
    {
        font-size: 2em;
        margin-right: 2em;
        line-height: 2em;
    }

        header .title.short
        {
            margin-right: 0.3em;
        }

.header-button
{
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.header-back
{
    position: absolute;
    top: 8px;
    left: 4px;
}

.rtl .header-back
{
    left: auto;
    right: 4px;
}

.header-buttons
{
    position: absolute;
    top: 8px;
    right: 4px;
}

.rtl .header-buttons
{
    right: auto;
    left: 4px;
}

.header-buttons > div
{
    float: right;
}

.rtl .header-buttons > div
{
    float: left;
}

.mark
{
    position: absolute;
    top: 6px;
    right: 10px;
}

    .mark .fa-exclamation, .weather
    {
        font-size: 33pt;
    }

.message .fa-envelope-o
{
    font-size: 40px;
}

.message, .info
{
    margin-right: 10%;
    margin-top: 5px;
}

    .info .city
    {
        margin-left: 15px;
    }

header > div
{
    display: inline-block;
}

header .home-button
{
    position: absolute;
    font-size: 35pt;
    left: 5px;
}
